<!-- SOAP Webservice Tester 
Tarciso Martins Junior
tarciso.junior@gmail.com -->

<h1> Teste de Webservices SOAP <br><small> SOAP webservice tester </small></h1>

<h3> Utiliza os módulo express e node-soap </h3>

<p>
Essa é uma interface para teste de conexão a webservices SOAP wdsl por aplicações NodeJS.
</p>

<p>
Para utilizar, informe na tela a seguir, a url da webservice, incluindo a parte do wsdl,
o nome do método a ser testado e os parâmetros de entrada, em formato json, 
com os mesmos nomes dos parâmetros do método da webservice a ser testada.
</p>


<h3> Uses node-soap and express packages </h3>

<p>
This is an template application to test SOAP webservice's functions from a NodeJs Server.
</p>

<p>
To use it, insert into next page the following information:<br>
webservice url - including that wsdl part,<br>
function name - CaseSensitive func
tion's name,<br>
input params - JSON formatted input params names and values

</p>

<a href="\test_soap"><button type="button">Iniciar - Start</button></a>